body {
    background-image: url("motif(1).png") ;
    padding: 30;
}
h1 {
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: 50;
    font-family: arial;
    margin: 15;
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 450;
    box-shadow: 10px 5px 0px black;
    text-shadow: white 2px 0px 3px;
}
img {
    display: block;
    margin: 10 auto;
}
p {
    text-align: center;
    font-family: arial;
    font-size: 20;
    font-weight: bolder;
    
}
a {
  display: inline-block;
  width: 180;
  margin-right: 20; 
  text-align: center;
  font-family: arial;
  line-height: 3;
  font-size: 15;
  color: red;
  border-radius: 10px;
  box-shadow: 10px 5px 0px black;
  text-decoration: none;
}
a:link{
  background: white;
}
a:hover {
    background-image: url("smoke.gif");
    background-size: cover;
}
.reponse {
  color: red;
  text-align: center;
  font-weight: bolder;
  font-size: 40;
  font-family: arial;
  margin: 15;
  background-color: black;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 450;
}
.question {
    color: red;
  text-align: center;
  font-weight: bolder;
  font-size: 40;
  font-family: arial;
  margin: 15;
  background-color: white;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 450;
  box-shadow: 10px 5px 0px black;
}
input {
    padding: 10;
    margin: auto;
    display: block;
    font-family: arial;
    color: red;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 0px black;
}
label {
    color: red;
    font-weight: bolder;
    font-size: 28;
    font-family: arial;
    background-color: white;
    box-shadow: 10px 5px 0px black;
    border-radius: 10px;
}